@charset "UTF-8";
#header {
  padding: 25px 40px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0; }
  #header .site-title {
    width: 180px;
    line-height: 1; }
    #header .site-title img {
      vertical-align: inherit; }

#navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  padding: 36px 50px;
  transition: all 0.5s;
  z-index: 20;
  opacity: 0;}
  #navi a {
    color: #fff; }
  #navi li {
    margin-bottom: 14px; }

.x_btn {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 20; }
  .x_btn span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s; }
    .x_btn span:first-child {
      top: 10px; }
    .x_btn span:last-child {
      bottom: 10px; }

#mask {
  display: none;
  transition: all 0.5s; }

.open #navi {
  left: 0;
  opacity: 1; }
.open .x_btn span {
  background-color: #fff; }
  .open .x_btn span:first-child {
    -webkit-transform: translateY(4px) rotate(-45deg);
    transform: translateY(4px) rotate(-45deg); }
  .open .x_btn span:last-child {
    -webkit-transform: translateY(-4px) rotate(45deg);
    transform: translateY(-4px) rotate(45deg); }
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer; }





.main .content{
    padding-bottom: 160px;
    padding-top: 120px;
}
.main .main-title {
    font-weight: normal; 
    font-size: 0.875rem;}
.main .info{
  max-width: 600px;
}
.main .info .list{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
.main .info .list dt {
    width: 30%;
    border-bottom: #dcdbdb solid 1px;
    padding: 20px 10px;
}
.main .info .list dd {
    width: 70%;
    border-bottom: #dcdbdb solid 1px;
    padding: 20px 10px;
}
.main .info .list dt:last-of-type{
    border-bottom: none;
}
.main .info .list dd:last-of-type{
    border-bottom: none;
}
.main .info .map{
    filter: grayscale(1);
}
.main .info .map iframe{
  width: 100%;
  height: 300px;
  border: 0;
}

@media screen and (max-width: 900px){

.main .info{
  width: 100%;
}
.main .info .list{
  flex-direction: column;
  margin-bottom: 20px;
}
.main .info .list dt {
    width: 100%;
    border-bottom: none;
    padding: 20px 10px 5px;
}
.main .info .list dd {
  width: 100%;
  padding: 5px 10px 20px;
}
}




.footer {
  margin: 140px 0 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0; }

  @media (max-width: 900px) {
    .footer {
      margin-top: 100px; } }
  .footer .wrapper {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 900px) {
      .footer .wrapper {
        flex-direction: column; } }
    .footer .wrapper .footer-nav ul {
      display: flex;}
      @media (max-width: 900px) {
        .footer .wrapper .footer-nav ul {
          margin-bottom: 5px; } }
      .footer .wrapper .footer-nav ul li {
        margin-right: 30px;
        font-size: 0.75rem; }
    .footer .wrapper .copy {
        font-size: 0.6rem;
     }

html {
  font-size: 100%; }

body {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 0.875rem;
  color: #333;
  position: relative;
  min-height: 100vh; }

a {
  text-decoration: none;
  transition: 0.3s;
  color: #333; }

a:hover {
  opacity: 0.8; }

img {
  max-width: 100%;
  vertical-align: bottom;
  /*←画像の下に隙間ができないように*/ }

.wrapper {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px; }

li {
  list-style: none; }

/*# sourceMappingURL=style.css.map */
